/* Left and right sections */

:root {
    --section-padding: 20px;
    --sidebar-padding: var(--section-padding);
    --sidebar-width: 260px;
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--blue-dark-midnight-blue);
}

section,
.sidebar {
    padding: var(--section-padding);
}

.content {
    margin-left: calc(var(--sidebar-width) + var(--sidebar-padding) * 2px);
}
