/* Typography */

@font-face {
    font-family: 'FuturaLight';
    src: url('../res/fonts/FuturaLight.ttf');
}

@font-face {
    font-weight: normal;
    font-family: 'SourceSansPro';
    src: url('../res/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-weight: lighter;
    font-family: 'SourceSansPro';
    src: url('../res/fonts/SourceSansPro-Light.ttf');
}

body {
    font-family: 'SourceSansPro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'FuturaLight', sans-serif;
}
