/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "compass/css3/border-radius";

html {
    font-family: 'Raleway', sans-serif;
    text-align:center;
}

header {
    width:100%;
    background-color:#393939;
    
    h1 {
        font-size:4em;
        font-weight:100;
        color:#FF9900;
        padding:50px;
    }
}