@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);

body {
    text-align: center;
    
    background-color: #3F3F3F;
    color: #E46A6B;
    
    font-family: 'Quicksand', sans-serif;
}

h1 {
    /* style */
    font-size: 1em;
    font-weight: 300;
}

p {
    /* style */
    font-size: 0.3em;
    font-weight: 400;
    
    /* fancy++ */
    color: #388E8E;
    opacity: 0;
}

#tipContainer {
    width: 70%;
    margin: auto;
}