@import url(http://fonts.googleapis.com/css?family=Quicksand:400);

body {
    /* color */
    background-image: url(bg.png);
    color: #FAEBD7;
    
    /* text */
    font-family: "Quicksand", sans-serif;
    text-align: center;
}