@font-face {
    font-family: 'Social';
    src: url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot');
    src: url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('fonts/MonoSocialIconsFont/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #E7E2D9 ;
    color: #665953;

    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

#header {
    background-color: #F3F3F3;
    padding: 16px;
}

.bigTitle {
    font-size: 2em;
}

#socialBar {
    background-color: #D3D3D3;
    padding: 8px;
}

.socialIcon {
    font-family: 'Social';
    font-size: 4.5em;
    padding-left: 5px;
    padding-right: 5px;
    color: inherit;
    transition: 0.5s;

    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.socialIcon:hover {
    transition: 0.5s;
}

#appstore:hover {color: #bdc3c7}
#email:hover {color: #e74c3c}
#github:hover {color: #27ae60}
#linkedin:hover {color: #2980b9}
#stackoverflow:hover {color: #e67e22}
