html {
    font-family:monospace;
    background-color:#EBEBE3;
    font-family: 'Raleway', sans-serif;
}

body h1 {
    position:fixed;
    top:20%;
    left:20%;
    color:#F05134;
    font-size:4em;
}

body p {
    position:fixed;
    top:37%;
    left:25%;
    font-size:2em;
    color:#555;
    opacity:0;
}