body {
    /* color */
    background-color: #EFEAE1;
    color: #665953;
    
    /* text */
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

/* links */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    border-bottom: #388E8E solid thin;
}

a:visited {
    color: #388E8E;
}

#blue {
    color: #388E8E;
}

/* its close enough to orange ok >:| */
#orange {
    color: #CC7B75;
}

#lineThrough {
    text-decoration: line-through;
}