// Page

body {
	background-color: $blue-dark-feltron;
}

.container {
	padding: 40px;
}

section {
    #{headings()} {
        padding: 10px 0;
    }
}

$section-colors: "red" $red, "blue" $blue, "yellow" $yellow;
@each $colorGroup in $section-colors {
    $className: nth($colorGroup, 1);
    $color: nth($colorGroup, 2);

    section.#{$className} {
        color: $color;

        h1 {
            border-bottom: 1px solid rgba($color, 0.35);
        }
    }
}

section.left {
    
}
