// Typography

body {
	color: $base-text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

#{headings()} {
	font-size: $header-font-size;
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}
