/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
html {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
/* line 25, ../sass/screen.scss */
html * {
  transition: color 0.2s ease-in-out;
}

/* line 30, ../sass/screen.scss */
#background {
  background-image: url("/img/landingImage.png");
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* line 42, ../sass/screen.scss */
header {
  width: 100%;
  height: 60px;
  background-color: #f2f1ed;
}
/* line 47, ../sass/screen.scss */
header div {
  width: 70%;
  height: 60px;
  margin: 0 auto;
}
/* line 51, ../sass/screen.scss */
header div * {
  display: inline;
}
/* line 54, ../sass/screen.scss */
header div h1 {
  font-size: 2em;
  font-weight: 100;
  color: #262626;
  float: left;
  margin-top: 15px;
}
/* line 60, ../sass/screen.scss */
header div h1 span {
  color: #f56015;
}
/* line 64, ../sass/screen.scss */
header div ul {
  float: right;
  margin-top: 25px;
}
/* line 67, ../sass/screen.scss */
header div ul li {
  padding-left: 20px;
}
/* line 69, ../sass/screen.scss */
header div ul li a {
  text-decoration: none;
  color: inherit;
}
/* line 73, ../sass/screen.scss */
header div ul li a:hover {
  color: #f56015;
  cursor: pointer;
}

/* line 82, ../sass/screen.scss */
#landingContainer {
  width: 100%;
  height: 500px;
}
/* line 86, ../sass/screen.scss */
#landingContainer h1 {
  font-weight: 100;
  font-size: 4em;
  color: #eeeeee;
  margin: 0 auto;
  position: relative;
  bottom: -230px;
}
/* line 95, ../sass/screen.scss */
#landingContainer a {
  text-decoration: none;
  color: rgba(238, 238, 238, 0.75);
  font-size: 4em;
  position: relative;
  bottom: -290px;
}

/* line 104, ../sass/screen.scss */
#currentWork {
  width: 100%;
  background-color: #f2f1ed;
}
/* line 108, ../sass/screen.scss */
#currentWork #title {
  padding: 50px;
}
/* line 111, ../sass/screen.scss */
#currentWork #title h1 {
  font-size: 3em;
  font-weight: 100;
}
/* line 117, ../sass/screen.scss */
#currentWork .project {
  display: inline-block;
  position: relative;
  background-color: #f2f1ed;
  top: 0px;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border: 2px #b0b0b0 solid;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 60px;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 131, ../sass/screen.scss */
#currentWork .project * {
  transition: all 0.2s ease-in-out;
}
/* line 137, ../sass/screen.scss */
#currentWork .project h2 {
  font-size: 2em;
  font-weight: 100;
  padding: 20px;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}
/* line 148, ../sass/screen.scss */
#currentWork .project img {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 152, ../sass/screen.scss */
#currentWork .project h1 {
  font-size: 16em;
  font-weight: 100;
  color: #504a46;
}
/* line 158, ../sass/screen.scss */
#currentWork .project .projectDescription {
  opacity: 0.0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  background-color: rgba(80, 74, 70, 0.5);
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
}
/* line 168, ../sass/screen.scss */
#currentWork .project .projectDescription p {
  text-decoration: none;
  color: #eeeeee;
  font-size: 2em;
  padding: 20px;
  font-weight: 100;
}
/* line 178, ../sass/screen.scss */
#currentWork .project:hover {
  top: -10px;
  border: 2px #f56015 solid;
}
/* line 181, ../sass/screen.scss */
#currentWork .project:hover h1 {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
/* line 185, ../sass/screen.scss */
#currentWork .project:hover .projectDescription {
  opacity: 1.0;
}
