// Typography

$font-weight-light: 100;
$font-weight-regular: 300;
$font-weight-bold: 600;

$base-text-color: $grey-light-concrete;
$base-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-font-weight: $font-weight-regular;
$base-line-height: 1.6;
